# APP_NAME=sw-chatbot-7103
ACTIVE_PROFILE=9903,9903001
DEBUG=true
DEBUG_USER_ID=1101000001
DEBUG_API_TOKEN_ID=0123456789abcdefghijklmnopqrstuv
# API_URL=https://1101.api.green-api.com
# MEDIA_URL=https://media.green-api.com
# OPENAI_API_KEY=sk-proj-0123456789abcdefghijklmn
# LINK_PREVIEW=true
# SPRING_CLOUD_CONFIG_URI=http://config-server:8888
# DEBUG_LINK_GREENAPI_RU=https://raw.githubusercontent.com/green-api/whatsapp-demo-chatbot-python/refs/heads/main/media/welcome_ru.jpg
# DEBUG_LINK_GREENAPI_EN=https://raw.githubusercontent.com/green-api/whatsapp-demo-chatbot-python/refs/heads/main/media/welcome_en.jpg
# DEBUG_LINK_PYTHON_CHATBOT=https://raw.githubusercontent.com/green-api/whatsapp-demo-chatbot-python/refs/heads/main/media/about.jpg
# DEBUG_LINK_PDF=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/corgi.pdf
# DEBUG_LINK_JPG=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/corgi.jpg
# DEBUG_LINK_AUDIO_RU=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/Audio_bot.mp3
# DEBUG_LINK_AUDIO_EN=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/Audio_bot_eng.mp3
# DEBUG_LINK_VIDEO_RU=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/Video_bot_ru.mp4
# DEBUG_LINK_VIDEO_EN=https://storage.yandexcloud.net/sw-prod-03-test/ChatBot/Video_bot_eng.mp4
# CALL_RING_TIMEOUT_SECONDS=30
# CALL_TALK_TIMEOUT_SECONDS=180
# CALL_REALTIME_MODEL=gpt-realtime-2.1
# CALL_REALTIME_VOICE=marin
